@import "variables.scss";

@font-face {
    font-family: WisdomScript;
    src: url(../fonts/WisdomScriptAJ.otf);
}


// ==== header ====

.header {
    width: 100%;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-family: WisdomScript;
        font-size: 35px;
        line-height: 65px;
        color: #616161;

        span {
            color: $red;
        }
    }

    &__nav-list {
        display: flex;
        align-items: center;
        min-height: 77px;

        li {
            padding-left: 15px;
        }

        a {
            @include text(Poppins, 14px, #272727, none, 500);
            border: 5px solid transparent;
            transition: .5s;
            border-radius: 5px;

            &:hover {
                background-color: $orange;
                border: 5px solid $orange;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
}

.header__nav-btn {
    width: 40px;
    padding-top: 20px;
    display: none;

    span {
        height: 5px;
        background-color: #000;
        margin-bottom: 5px;
        display: block;
    }
}

// ==== /header ====

// ==== start ====

.start {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 775px;
    position: relative;

    &:before {
        content: "";
        background-color: rgba(#262732, .85);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &-inner {
        position: relative;
        z-index: 3;
        text-align: center;

        &__title {
            @include text('Libre Baskerville', 60px, #fff, 85px, 400);
            padding: 175px 30px 60px;
        }

        &__link {
            @include text(Poppins, 16px, #fff, none, 600);
            background-color: $red;
            padding: 20px 40px;
            border-radius: 35px;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 82px;
            transition: .5s;

            &:hover {
                background-color: #fff;
                color: $red;
            }
        }
    }

    &-inner__description-wrapper {
        display: flex;
        justify-content: center;
    }

    &-inner__description {
        margin: 0 32px;

        &-text {
            @include text(Poppins, 18px, #fff, none, 500);
            padding-top: 37px;
            text-transform: uppercase;
        }
    }
}

.start-inner__description-text_green {
    color: $green;
}

.start-inner__description-text_violet {
    color: $violet;
}

.start-inner__description-text_orange {
    color: $orange;
}

// ==== /start ====

// ==== about us ====

.about {
    width: 100%;

    &-inner {
        display: flex;
        min-height: 700px;
        position: relative;

        &__image-block {
            width: 555px;
            min-height: 700px;
            background: linear-gradient(360deg, rgba(#fc5f45, .2), rgba(#000, .1)), url(../img/4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 150px 0;
            box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        &__right-block {
            max-width: 650px;
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 220px;
            box-shadow: 5px -3px 12px -6px rgba(0, 0, 0, 0.1);

            &:after {
                content: "";
                background: linear-gradient(to right,
                        $red 25%, $green 25% 50%, $violet 50% 75%, $orange 75%);
                display: block;
                height: 3px;
                width: 100%;
            }
        }

        &__right-number {
            @include text(Poppins, 274px, rgba(#e0e0e0, .4), none, 700);
            position: absolute;
            left: 0;
            top: -100px;
        }

        &__right-title {
            @include text('Libre Baskerville', 50px, #313131, none, 700);
            position: relative;
            z-index: 5;
            padding: 95px 30px 20px 82px;
        }

        &__right-text-first {
            @include text(Poppins, 15px, #616161, 27px, 400);
            position: relative;
            z-index: 5;
            padding: 0 82px 40px 82px;
        }

        &__right-text-second {
            @include text(Poppins, 15px, #616161, 27px, 400);
            position: relative;
            z-index: 5;
            padding: 0 82px 103px 82px;

        }
    }
}

// ==== /about us ====

// ==== our focus ====

.our-focus {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;

    &-content {
        display: flex;
        justify-content: space-between;
    }
}

.our-focus__box {
    max-width: 260px;
    background-color: #fff;
    box-shadow: 1px 0px 12px -4px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;

    &:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    &:nth-child(3) {
        margin-right: 10px;
    }


    &-image {
        padding: 60px 0 30px 0;
    }

    &-title {
        @include text(Poppins, 20px, #313131, none, 500);
        padding-bottom: 35px;
    }

    &-descr {
        @include text(Poppins, 15px, #616161, 25px, 400);
        padding: 0 35px 64px 35px;
    }
}

// ==== /our focus ====

// ==== explore ====

.explore {
    width: 100%;
    min-height: 500px;
    background-image: url(../img/2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;

    &:before {
        content: "";
        background-color: rgba(#262732, .85);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &__title {
        @include text(Poppins, 30px, #fff, none, 400);
        text-align: center;
        position: relative;
        z-index: 3;
        padding: 145px 30px 50px 30px;
    }
}

// ==== explore ====

// ==== portfolio ====
.portfolio-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 150px;
}

.portfolio-content {
    position: relative;
    min-height: 288px;
    max-width: 340px;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;

    &__image {
        max-width: 340px;
        height: 288px;
    }

    &:hover .portfolio-content__hover-mask {
        opacity: 1;
    }

    &:hover .portfolio-content__hover-mask-text {
        transform: translateY(0);
    }

    &__hover-mask {
        position: absolute;
        min-height: 288px;
        max-width: 340px;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, 0.3);
        opacity: 0;
        transition: .5s;
        display: flex;
        align-items: flex-end;

        &-text {
            width: 100%;
            height: 66px;
            background-color: #fff;
            transform: translateY(70px);
            transition: .5s;

            &:before {
                content: "";
                background: linear-gradient(to right,
                        $red 25%, $green 25% 50%, $violet 50% 75%, $orange 75%);
                display: block;
                height: 3px;
                width: 100%;
            }

            p {
                text-align: center;
                @include text(Poppins, 18px, #313131, 66px, 500);
            }
        }
    }
}

// ==== /portfolio ====

// ==== our team ====

.team {
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 150px;
}

.team-slider-content {
    width: 100%;
    display: flex;
    height: 375px;
}

.team-slider-content__box {
    width: 263px;
    background-color: #fff;
    margin: 0 15px 50px 15px;
    @include flex(flex, column, center, center);
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);

    &-name {
        @include text(Poppins, 18px, none, none, 500);
        padding-bottom: 15px;
        text-align: center;
    }

    &-prof {
        @include text(Poppins, 13px, #616161, none, 400);
        padding-bottom: 18px;
        text-align: center;
    }
}

.team-slider-content__box-image1_gradient-red {
    background: linear-gradient(360deg, rgba($red, .2), rgba(#000, .1)), url(../img/team1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 230px;
    margin: 5px 5px 23px 5px;
}

.team-slider-content__box-image2_gradient-green {
    background: linear-gradient(360deg, rgba($green, .2), rgba(#000, .1)), url(../img/team2.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image3_gradient-violet {
    background: linear-gradient(360deg, rgba($violet, .2), rgba(#000, .1)), url(../img/team3.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image4_gradient-orange {
    background: linear-gradient(360deg, rgba($orange, .2), rgba(#000, .1)), url(../img/team4.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image5_gradient-red {
    background: linear-gradient(360deg, rgba($red, .2), rgba(#000, .1)), url(../img/team5.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image6_gradient-green {
    background: linear-gradient(360deg, rgba($green, .2), rgba(#000, .1)), url(../img/team6.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image7_gradient-violet {
    background: linear-gradient(360deg, rgba($violet, .2), rgba(#000, .1)), url(../img/team7.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-slider-content__box-image8_gradient-orange {
    background: linear-gradient(360deg, rgba($orange, .2), rgba(#000, .1)), url(../img/team8.jpg);
    @extend .team-slider-content__box-image1_gradient-red;
    background-size: cover;
    background-position: center;
}

.team-description-box {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    margin: 55px 15px 0 15px;
    position: relative;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 48px solid #fff;
        position: absolute;
        top: -45px;
        left: 98px;
        z-index: 555;
    }

    &__image {
        height: 32px;
        margin: 180px 50px 100px 80px;
    }
}

.team-description-box-about {
    padding: 75px 0 77px 75px;

    &__name {
        @include text(Poppins, 20px, #272727, none, 500);
        padding-bottom: 35px;
    }

    &__text {
        @include text(Poppins, 15px, #616161, 27px, 400);
        max-width: 635px;
    }
}

.team-description-box__list-link {
    height: 152px;
    border-left: 2px solid #efefef;
    margin-top: 124px;
    padding-top: 15px;
    padding-left: 25px;

    li {
        padding-bottom: 10px;
    }

    a {
        color: #616161;
        transition: .5s;
        @include text(Poppins, 15px, #616161, none, 400);

        &:hover {
            color: #262732;
        }
    }

    i {
        width: 15px;
        text-align: center;
        margin-right: 7px;
    }
}


.slick-initialized .slick-slide {
    display: flex;
}

// ==== /our team ====

// ==== statistics ====

.statistics {
    width: 100%;
    min-height: 465px;
    background-image: url(../img/3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;

    &:before {
        content: "";
        background-color: rgba(#262732, .85);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

.statistics-content {
    position: relative;
    z-index: 4;
    padding-top: 144px;
    display: flex;
    justify-content: space-around;
}

.statistics-box {
    text-align: center;
    max-width: 190px;
    @include flex(flex, column, none, center);

    &__image {
        padding-bottom: 28px;
    }

    &__numbers {
        display: flex;
        justify-content: center;
    }

    .statistics-box__numbers-counter,
    .statistics-box__numbers-symbol {
        @include text(Poppins, 20px, #fefefe, none, 500);
        padding-bottom: 32px;
    }

    &__decription {
        @include text(Poppins, 15px, #fefefe, none, 400);
    }

    .statistics-box__circle_red {
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 1.5px solid $red;
        border-radius: 50%;
        margin-top: 39px;
        position: relative;

        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .statistics-box__circle_green {
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 1.5px solid $green;
        border-radius: 50%;
        margin-top: 39px;
        position: relative;

        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $green;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .statistics-box__circle_violet {
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 1.5px solid $violet;
        border-radius: 50%;
        margin-top: 39px;
        position: relative;

        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $violet;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .statistics-box__circle_orange {
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 1.5px solid $orange;
        border-radius: 50%;
        margin-top: 39px;
        position: relative;

        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// ==== /statistics ====

// ==== work steps ====

.steps {
    padding-bottom: 152px;

    &-content {
        padding-top: 50px;
        position: relative;

        &__box_red-gradient {
            background: linear-gradient(360deg, rgba($red, .2), rgba(#000, .1)), url(../img/step-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 300px;
            max-width: 555px;
            margin: 0 auto;
        }

        &__box_green-gradient {
            @extend .steps-content__box_red-gradient;
            background: linear-gradient(360deg, rgba($green, .2), rgba(#000, .1)), url(../img/step-2.jpg);
            background-size: cover;
            background-position: center;
        }

        &__box_violet-gradient {
            @extend .steps-content__box_red-gradient;
            background: linear-gradient(360deg, rgba($violet, .2), rgba(#000, .1)), url(../img/step-3.jpg);
            background-size: cover;
            background-position: center;
        }

        &__box_orange-gradient {
            @extend .steps-content__box_red-gradient;
            background: linear-gradient(360deg, rgba($orange, .2), rgba(#000, .1)), url(../img/step-4.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}

.steps-content__description-block-first {
    max-width: 458px;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.steps-content__description-block-second {
    max-width: 458px;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    top: 300px;
    right: 0;
}

.steps-content__description-block-third {
    max-width: 458px;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    bottom: 330px;
    left: 0;
}

.steps-content__description-block-fourth {
    max-width: 458px;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    right: 0;
}

.steps-content__description-block-number {
    @include text('Libre Baskerville', 50px, #e0e0e0, none, 600);
    padding: 40px 28px 20px 30px;
    position: absolute;

    &:after {
        content: "";
        width: 110px;
        height: 1.5px;
        background-color: #e0e0e0;
        position: absolute;
        transform: rotate(140deg);
        left: 30px;
        top: 85px;
    }
}

.steps-content__description-block-title {
    @include text(Poppins, 25px, #272727, none, 400);
    padding: 74px 20px 0 126px;
}

.steps-content__description-block-text {
    @include text(Poppins, 15px, #616161, 27px, 400);
    padding: 25px 70px 50px 126px;
}

// ==== /work steps ====

// ==== price ====

.price {
    width: 100%;
    background-color: #f7f7f7;

    &-content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 153px;
    }
}

.price-content-box_border-top-green {
    border-top: 2px solid $green;
}

.price-content-box_border-top-red {
    border-top: 2px solid $red;
    margin: 0 10px;
}

.price-content-box_border-top-violet {
    border-top: 2px solid $violet;
}

.price-content-box {
    width: 330px;
    background-color: #fff;
    box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);

    &__title {
        @include text(Poppins, 20px, #313131, none, 500);
        padding: 35px 0 30px;
    }

    &__circle-block {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 43px;
        @include flex(flex, column, center, center);

        &-price {
            @include text(Poppins, 25px, #fff, none, 400);
            position: relative;
            z-index: 10;
        }

        &-period {
            @include text(Poppins, 12px, #fff, none, 400);
            position: relative;
            z-index: 10;
        }
    }

    &__circle-block_red {
        border: 2px solid $red;

        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $red;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__circle-block_green {
        border: 2px solid $green;

        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $green;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__circle-block_violet {
        border: 2px solid $violet;

        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $violet;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.price-content-box__list-descr {
    @include text(Poppins, 15px, #616161, 40px, 400);

    span {
        font-weight: 500;
    }

    i {
        font-size: 12px;
    }
}

.price-content-box__btn {
    text-transform: uppercase;
    @include text(Poppins, 16px, #616161, none, 500);
    margin: 30px auto 37px;
    padding: 16px 35px;
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.price-content-box__btn_green {
    border: 2px solid $green;

    &:hover {
        background-color: $green;
        color: #fff;
    }
}

.price-content-box__btn_red {
    border: 2px solid $red;

    &:hover {
        background-color: $red;
        color: #fff;
    }
}

.price-content-box__btn_violet {
    border: 2px solid $violet;

    &:hover {
        background-color: $violet;
        color: #fff;
    }
}

// ==== /price ====

// ==== teatimonials ====

.testimonials {
    width: 100%;
    min-height: 872px;
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
        content: "";
        background-color: rgba(#262732, .85);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &-content {
        position: relative;
        z-index: 10;
        display: flex;

        &__left-image {
            width: 364px;
            height: 378px;
            background-size: cover !important;
            box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 11;
        }
    }
}

.testimonials-slider {
    position: relative;
    z-index: 10;

    .slick-dots {
        display: flex;
        justify-content: flex-end;

        button {
            font-size: 0;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 2px solid $red;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            position: relative;
        }

        li {
            margin-left: 8px;
        }
    }
}

.testimonials .slick-dots li.slick-active button {

    &:before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $red;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.testimonials-content__right {
    min-height: 309px;
    max-width: 765px;
    background-color: #fff;
    margin: 30px 0;
    border-bottom: 3px solid $red;
    position: relative;

    &:before {
        content: "“";
        position: absolute;
        @include text('Libre Baskerville', 337px, #e0e0e0, none, 700);
        opacity: .4;
        top: -43px;
    }

    &-text {
        @include text(Poppins, 15px, #616161, 27px, 400);
        padding: 40px 67px 30px 65px;
        position: relative;
        z-index: 11;
    }

    &-signature {
        height: 29px;
        padding-left: 65px;
    }

    &-name {
        @include text(Poppins, 18px, #272727, none, 500);
        padding: 23px 0 8px 65px;
    }

    &-career {
        @include text(Poppins, 13px, #fc5f45, none, 400);
        padding-left: 65px;
    }
}

// ==== /teatimonials ====

// ==== select ====

.select-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-box {
        max-width: 320px;
        margin-bottom: 75px;
        position: relative;

        &__image {
            position: absolute;
            top: 3px;
        }

        &__title {
            @include text(Poppins, 18px, #272727, none, 500);
            width: 110px;
            padding-left: 65px;
            padding-bottom: 35px;
        }

        &__text {
            @include text(Poppins, 15px, #616161, 27px, 400);
        }
    }
}

.select-start {
    margin: 75px auto 150px;
    display: flex;

    &__text {
        @include text(Poppins, 25px, #272727, 27px, 400);
        margin-right: 50px;
        padding-top: 20px;
    }
}

.section__button_red {
    text-transform: uppercase;
    @include text(Poppins, 16px, #fff, none, 600);
    padding: 16px 35px;
    border-radius: 40px;
    background-color: $red;
    border: 2px solid $red;
    outline: none;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background-color: #fff;
        color: $red;
    }
}

// ==== /select ====

// ==== blog ====

.blog {
    width: 100%;
    background-color: #f7f7f7;

    &-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
    }

    .blog-content-left {
        max-width: 555px;

        &__image {
            background-image: url(../img/featured-image.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            min-height: 444px;
            position: relative;
        }
    }
}

.blog-content-left__image-name {
    @include text(Poppins, 15px, #fc5f45, none, 500);
    text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    left: 50px;

    span {
        @include text(Poppins, 13px, #fff, none, 400);
        text-transform: none;

    }
}

.blog-content-left__descr {
    background-color: #fff;

    &-title {
        @include text(Poppins, 20px, #272727, 35px, 500);
        padding: 33px 45px 15px 50px;
    }

    &-text {
        @include text(Poppins, 15px, #272727, 27px, 400);
        padding: 0 45px 30px 50px;
    }

    &-link {
        font-weight: 600;
        color: #272727;
    }
}

.blog-content-right {
    max-width: 555px;
    margin-left: 30px;

    &__box {
        background-color: #fff;
        box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.1);

        &:nth-child(2) {
            margin: 20px 0;
        }

        &-name {
            @include text(Poppins, 15px, #272727, none, 500);
            text-transform: uppercase;
            padding: 20px 50px 20px 38px;

            span {
                @include text(Poppins, 13px, #272727, none, 400);
                text-transform: none;
            }
        }

        &-descr-title {
            @include text(Poppins, 18px, #272727, none, 500);
            padding: 0 39px 10px 39px;
        }

        &-descr-text {
            @include text(Poppins, 15px, #272727, 27px, 400);
            padding: 0 39px 28px 39px;

            &-descr-link {
                font-weight: 500;
            }
        }
    }
}

// ==== /blog ====

// ==== footer ====

.footer {
    width: 100%;
    min-height: 1275px;
    background-image: url(../img/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    &-form {
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        &__input {
            width: 360px;
            min-height: 50px;
            border-radius: 5px;
            border: 1px solid #efefef;
            outline: none;
            margin-bottom: 25px;
            padding: 0 8px;

            &:nth-child(1) {
                margin-right: 25px;
            }


            &:nth-child(3) {
                margin-right: 25px;
            }

            &::placeholder {
                @include text(Poppins, 18px, #616161, none, 400);
                text-align: center;
            }
        }

        &__textarea {
            width: 750px;
            min-height: 200px;
            border-radius: 5px;
            border: 1px solid #efefef;
            outline: none;
            margin-bottom: 52px;
            resize: none;
            padding: 10px 8px;

            &::placeholder {
                @include text(Poppins, 18px, #616161, none, 400);
                text-align: center;
            }
        }
    }
}

.contacts {
    max-width: 100%;
    background-color: rgba(#262732, .85);
    margin-top: 150px;

    &:after {
        content: "";
        background: linear-gradient(to right,
                $red 25%, $green 25% 50%, $violet 50% 75%, $orange 75%);
        display: block;
        height: 3px;
        width: 100%;
    }

    &-wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 222px;
    }

    &__logo {
        font-family: WisdomScript;
        font-size: 35px;
        line-height: 65px;
        color: #616161;

        span {
            color: $red;
        }
    }

    &__address {

        width: 210px;
        text-align: left;

        &-title {
            @include text(Poppins, 18px, #616161, none, 500);
            padding-bottom: 35px;
        }

        &-text {
            @include text(Poppins, 16px, #fef4f2, 27px, 500);
        }
    }

    &__network {

        text-align: left;

        &-title {
            @include text(Poppins, 18px, #616161, none, 500);
            padding-bottom: 50px;
        }

        &-links {
            display: flex;

            li {
                margin-right: 15px;
            }
        }
    }
}

// ==== /footer ====

.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: #929393;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10%;
    transition: .5s;
    opacity: .5;

    &:hover {
        background-color: $red;
    }
}